/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables CSS */

:root {
  --primary-color: #6500FF;
  --white-color: #FFFFFF;
  --text-color: #484848;
  --gray-color: #888888;
  --invert-primary-color: #9855FF;
  --invert-text-color: #FFFFFF;
  --invert-bg-color: #2B3137;
  --header-height: 3rem;
  --font-semi: 600;
  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --z-back: -10;
  --z-fixed: 100;
  --big-font-size: 3.5rem;
  --h2-font-size: 2rem;
  --normal-font-size: 1rem;
  --smaller-font-size: .875rem;
}




/* Main Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Montserrat;
  background: var(--white-color);
  transition: .3s;
}
.dark-mode {
  background-color: black;
  color: white;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding: 23px 0;
  background: var(--white-color);
  box-shadow: 0px -2px 10px rgba(0,0,0,.1);
  transition: .3s;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-weight: 600;
  font-size: 28px;
  color: var(--text-color);
  transition: .3s;
}

.header__rightside {
  display: flex;
  align-items: center;
}

.header-menu__list {
  display: flex;
  align-items: center;
}

.header-menu__item {
  padding: 0 10px;
}

.header-menu__link {
  font-weight: 500;
  font-size: 18px;
  color: var(--text-color);
  display: inline-flex;
  position: relative;
  transition: .3s;
}

.header-menu__link:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 4px;
  background: var(--primary-color);
  border-radius: 2px;
  transition: .3s;
}

.header-menu__link:hover:after {
  width: 100%;
}

.header__moon {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 24px;
  color: var(--text-color);
  cursor: pointer;
  transition: .3s;
}

.header__mob-menu {
  margin-left: 10px;
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
  transition: .3s;
  display: flex;
  align-items: center;
}

.header__mob {
  display: none;
}

.intro {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
 
}

.intro__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.intro__content {
  max-width: 500px;
  width: 100%;
  padding-right: 20px;
}

.intro__img {
  max-width: 500px;
  width: 100%;
}

.intro__img img {
  display: block;
  width: 100%;
}

.intro__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 1.2;
  color: var(--text-color);
  margin-bottom: 10px;
  transition: .3s;
}

.intro__title span {
  color: var(--primary-color);
  transition: .3s;
}

.intro__position {
  display: block;
  font-weight: 500;
  font-size: 24px;
  color: var(--gray-color);
  margin-bottom: 25px;
}

.intro__text {
  font-size: 16px;
  line-height: 1.3;
  color: var(--text-color);
  margin-bottom: 30px;
  transition: .3s;
}

.btn {
  display: inline-flex;
  background: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 30px;
  padding: 13px 36px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  color: var(--primary-color);
  transition: .3s;
}

.btn .bx {
  font-size: 24px;
}

.btn:hover {
  background: var(--primary-color);
  color: var(--white-color);
  transform: scale(1.05);
}

.intro-soc {
  display: flex;
  margin: 0 -10px;
  margin-top: 40px;
  align-items: center;
}

.intro-soc__item {
  padding: 0 10px;
}

.intro-soc__link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary-color);
  background: transparent;
  font-size: 24px;
  color: var(--primary-color);
  transition: .3s;
}

.intro-soc__link:hover {
  background: var(--primary-color);
  color: var(--white-color);
  transform: scale(1.15);
}

/* Black Styles */

body.is-black {
  background: var(--invert-bg-color);
}

.is-black .header {
  background: var(--invert-bg-color);
  box-shadow: 0px -2px 10px rgba(0,0,0,.5);
}

.is-black .header__logo {
  color: var(--invert-text-color);
}

.is-black .header-menu__link {
  color: var(--invert-text-color);
}

.is-black .header-menu__link:after {
  background: var(--invert-primary-color);
}

.is-black .header__moon {
  color: var(--invert-text-color);
}

.is-black .intro__title {
  color: var(--invert-text-color);
}

.is-black .intro__title span {
  color: var(--invert-primary-color);
}

.is-black .intro__text {
  color: var(--invert-text-color);
}

.is-black .btn {
  color: var(--invert-primary-color);
  border-color: var(--invert-primary-color);
}

.is-black .btn:hover {
  background: var(--invert-primary-color);
  color: var(--white-color);
}

.is-black .intro-soc__link {
  color: var(--invert-primary-color);
  border-color: var(--invert-primary-color);
}

.is-black .intro-soc__link:hover {
  background: var(--invert-primary-color);
  color: var(--white-color);
}

.is-black .header__mob-menu {
  color: var(--invert-text-color);
}

/* Media Queries */

@media (max-width: 1023px) {
  .header-menu__link {
    font-size: 16px;
  }
  .header__logo {
    font-size: 24px;
  }
  .intro__title {
    font-size: 42px;
  }
  .intro__position {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .intro__text {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .intro-soc {
    margin-top: 20px;
  }
  .btn {
    font-size: 14px;
  }
  .btn .bx {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 20px 0;
  }
  .intro {
    min-height: calc(100vh - 69px);
  }
  .header-menu {
    position: fixed;
    top: 69px;
    left: 100%;
    width: 100%;
    height: calc(100vh - 69px);
    background: rgba(255,255,255,.9);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
  }
  .header-menu.is-active {
    left: 0;
  }
  .header-menu__list {
    flex-direction: column;
  }
  .header__mob {
    display: block;
  }
  .is-black .header-menu {
    background: rgba(0,0,0,.8);
  }
  .header-menu__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .header-menu__link {
    font-size: 24px;
  }
  .intro__body {
    flex-direction: column-reverse;
  }
  .intro__img {
    margin-bottom: 30px;
  }
  .intro__content {
    padding: 0;
  }
  .intro__title {
    font-size: 32px;
    text-align: center;
  }
  .intro__position {
    text-align: center;
  }
  .intro__text {
    text-align: center;
  }
  .intro__btn {
    display: flex;
    justify-content: center;
  }
  .intro-soc {
    justify-content: center;
  }
}

.about-wrapper{
    height: 150vh;
}
.about-left{
    background: #9855FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.about-left-content > div{
    background: #9855FF;
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;
}
.about-left-content{
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}
.about-img img{
    display: block;
    width: 200px;
}
.about-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
.shadow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
}
.shadow::after{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    height: 7px;
    width: 50px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0;
    transition: all 0.6s ease;
}
.shadow:hover .about-img{
    transform: translateY(-10px);
}
.shadow:hover::after{
    opacity: 1;
}
.about-left-content h2{
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid #edffec;
}
.about-left-content h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}
.icons{
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
}
.icons li{
    list-style-type: none;
    background: #9855FF;
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.icons li:hover{
    background: #edffec;
    color: #000;
}
.about-right{
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
}
.about-right h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: #9855FF;
}

.about-right h2{
    font-weight: 300;
    font-size: 1.25rem;
    color: #8856d8;
}
.about-btns{
    display: flex;
    margin: 2rem 0;
}
.btn{
    border: 2px;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 30px;
    padding: 13px 36px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
}
.btn.btn-pink{
    background: #9855FF;
    color: #fff;
    border-color: #9855FF;
    transition: all 0.5s ease-in-out;
}
.btn.btn-pink:hover{
    background: transparent;
    border-color: #9855FF;
    color: #000;
}
.btn.btn-white{
    transition: all 0.5s ease-in-out;
  
}
.btn.btn-white:hover{
    background: #9855FF;
    border-color: #9855FF;
    color: #fff;
}
.about-para p{
    font-weight: 300;
    padding: 0.5rem;
    opacity: 0.8;
    text-align: left;
}

@media screen and (min-width: 992px){
    .about-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .about-left{
        position: relative;
    }
    .about-left-content{
        position: absolute;
        right: -50px;
    }
}

/* ===== SKILLS =====*/
.skills__container {
  row-gap: 2rem;
  text-align: center;
}

.skills__subtitle {
  margin-bottom: var(--mb-2);
}

.skills__text {
  margin-bottom: var(--mb-4);
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--white-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}


.skills__img {
  border-radius: .5rem;
}
.skills__container{
  row-gap: 2rem;
  text-align: center;
}
.skills__subtitle{
  margin-bottom: var(--mb-2);
}
.skills__test{
  margin-bottom: var(--mb-4);
}
.skills__data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}
.skills__icon{
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
.skills__names{
  display: flex;
  align-items: center;
}
.skills__bar{
position: absolute;
left: 0;
bottom: 0;
background-color: var(--first-color);
height: .25rem;
border-radius: .5rem;
z-index: var(--z-back);
}
.work__container{
  row-gap: 2rem;
}
.work__img{
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15); 
  border-radius: .5rem;
  overflow: hidden;
}
.work__img img{
  transition: 1s;

}
.work__img img:hover{
  transform: scale(1.1);

}
/* ===== CONTACT =====*/
.contact__input{
      width: 100%;
      font-size: var(--normal-font-size);
      font-weight: var(--font-semi);
      padding: 1rem;
      border-radius: .5rem;
      border: 1.5px solid var(--second-color);
      outline: none;
      margin-bottom: var(--mb-4);
  }
  .contact__button{
      display: block;
      border: none;
      outline: none;
      font-size: var(--normal-font-size);
      cursor: pointer;
      margin-left: auto;
  }
/* ===== FOOTER =====*/
.footer{
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
  .footer__title{
      font-size: 2rem;
      margin-bottom: var(--mb-4);
  }
  .footer__social{
      margin-bottom: var(--mb-4);
  }
  .footer__icon{
      font-size: 1.5rem;
      color: #fff;
      margin: 0 var(--mb-2);
  }
  .footer__copy{
      font-size: var(--smaller-font-size);
  }
  

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px){}
  .home{
      row-gap: 2rem;
  }
  .home__img{
          width: 200px;
      }
    
@media screen and (min-width: 576px){}
  .home{
      padding: 4rem 0 2rem;
  }
  .home__social{
          padding-top: 0;
          padding-bottom: 2.5rem;
          flex-direction: row;
          align-self: flex-end;
  }
  .home-icon{
              margin-bottom: 0;
              margin-right: var(--mb-4);
          }
      
  .home__img{
          width: 300px;
          bottom: 25%;
      }
  

  .about__container{
      grid-template-columns: repeat(2,1fr);
      align-items: center;
      text-align: initial;
  }

  .skills__container{
      grid-template-columns: .7fr;
      justify-content: center;
      column-gap: 1rem;
  }

  .work__container{
      grid-template-columns: repeat(2,1fr);
      column-gap: 2rem;
      padding-top: 2rem;
  }

  .contact__form{
          width: 360px;
          padding-top: 2rem ;
      }
  .contact__container{
          justify-items: center;
      }
  
    

@media screen and(min-width: 768px){}
  .body{
      margin: 0;
  }
  .section{
      padding-top: 4rem;
      padding-bottom: 3rem;
  }

  .section-title{
      margin-bottom: var(--mb-6);
  }
  .section-title::after{
          width: 80px;
          top: 3rem;
      }
  

  .nav{
      height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list{
          display: flex;
          padding-top: 0;
      }
  .nav__item{
          margin-left: var(--mb-6);
          margin-bottom: 0;
      }
  .nav__toggle{
          display: none;
      }
  .nav__link{
          color: var(--second-color);
      }
  
  .home{
      padding: 8rem 0 2rem;
  }   
  .home__img{
          width: 400px;
          bottom: 10%;
      }
  

  .about__container{
         padding-top: 2rem;
      }
  .about__img img{
              width: 300px;
          }
      
  
  .skills__container{
      grid-template-columns: repeat(2,1fr);
      column-gap: 2rem;
      align-items: center;
      text-align: initial;
  }
  .work__container{
      grid-template-columns: repeat(3,1fr);
      column-gap: 2rem;
  }


@media screen and (min-width: 992px){}
  .bd-grid{
      margin-left: auto;
      margin-right: auto;
  }
  .home{
      padding: 10rem 0 2rem;
  }
  .home__img{
          width: 450px;
      }
    
